<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Infight</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<div>

    <div style="width: 200px; float:left;">
        <a href="/"><img src="/img/infight.png" style="height: 100px;" /></a>
    </div>

    {{#if user}}
        <div style="width: 200px; float:right;">
            <img src="{{user.img}}" style="float:left; border-radius: 6px; border:solid 3px #efefef; margin-right:4px;" />
            {{user.name}}<br />
            <a href="/team/{{user.team_domain}}"><em style="font-size: smaller">{{user.team_domain}}</em></a><br />
            <a href="/logout" style="font-size: xx-small;">Logout</a>
        </div>
    {{else}}

        <div style="width: 200px; float:right;">
            <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.team,identity.avatar&client_id=134879189280.135668698324"
            ><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
        </div>
    {{/if}}

    <br clear="all" />
</div>

{{{body}}}

</body>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

</html>